<div class="buzz-container" id="buzz-<%= buzz.id %>">
  <i class="author">
    <span><%= buzz.user.nickname %></span>
    <small><%= buzz.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
</div>