<div class="container layout text-center ">
  <h1 class="my-5">Welcome to vBuzzer</h1>
  <%= form_tag search_game_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :search,
      params[:search], placeholder: 'Enter game code', class:"text-center" %>
    </div>
  <%= submit_tag 'Join a game', class:"btn btn-primary button-custom"  %>
  <% end %>
  <%= link_to "Create a game", games_path, method: :post, class: "btn btn-secondary button-custom" %>
</div>
