<div class="container text-center ">
  <h1 class="my-5">Welcome to vBuzzer</h1>
  <div>
    <%= link_to "Join a game", games_path, class: "btn btn-primary" %>
    <%= link_to "Create a game", create_new_game_path, method: :post, class: "btn btn-secondary" %>

    <%= link_to "Find a game", class: "btn btn-secondary" %>
  </div>
</div>
