#buzzer {
  border: none;
  font-size: 4rem;
  background-color: green;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.center {
  text-align: center;
  list-style-position: inside;
  padding: 0;
}

.buzzed {
  background-color: red !important;
}

.locked {
  background-color: orange !important;
}